*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
:root{
    /* theme colors */
    --text-gray: #3F4954;
    --bg-color: #0f0f0f;

    /*  theme font-family */
    --lexend: 'Lexend Deca', sans-serif;
    --livvic: 'Mulish', sans-serif;

    /* gradient colors */
    --sky :  #fff5f2; /* 010 Winter Neva */
}

/* ------------------ navbar ----------------- */

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    #whoWeare {
        padding-top: 109px;
        position: relative;
    }
  
}
@media screen and (max-width:767px){
    .navbar{
        display: block !important;
    }
    ul{
        padding-left: 0px!important;
    }
    ul li a{
        padding-left: 0!important;
    }
}

nav ul li a {
    text-decoration: none;
}

.nav-link a{
    text-decoration: none!important;
}

.text-black{
    color: var(--bg-color);
}

/* header{
    background: var(--sky);

} */

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

.my-login-page .card-wrapper {
    /* width: 743px; */
    height: 100% !important;
	
}
/* nav{
    margin: auto;
    align-items: center;
    max-width: 1120px;
    padding: 1rem 2rem 2rem  !important;
    background: var(--sky);
    position: relative;
    min-height: 18vh;
    justify-content: space-between;
    height: 65px;
    overflow-y: hidden;
    transition: height 1s cubic-bezier(0.26, -0.01, 0,  1.01);
}

nav .nav-brand a{
    display: block;
    padding: 1rem 0;
    font-family: var(--lexend);
    font-size: 1.6rem;
}

nav .nav-items{
    list-style-type: none;
    margin: 0;
}

nav .nav-items .nav-link{
    padding: 1.3rem 1rem;
    font-family: var(--livvic);
    font-size: 14px;
} */

footer{
    display: flex;
    max-width: 1120px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin: auto;
  }

.footer-list li{
    display: inline-block;
    padding: 10px 0px 10px 32px  !important;
    list-style-type: none;
    font-family: var(--livvic);
    font-size: 14px;
}
.footer-list li a{
    color: black;

}
.footer-list li a:hover{
    color: #2439a0;

}
#all-rights{
    padding: 10px;
}
/* .nav-link a{
    text-decoration: none !important;
} */
/* nav .nav-items .nav-link:hover a{
    color: #2439a0;
} */
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

/* .sign{
    color: #162c9b;
    padding: 1rem 1rem !important;
}
.sign:hover{
    color: #ffffff!important; 
    background-color:#162c9b;
}
nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 100%;
    cursor: pointer;
    display: none;
}

nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 4rem;
}

nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
}

.collapse{
    height: 30rem;
} */

/* creating own toggle icons  */
/* .icon, .icon::before, .icon::after{
    position: relative;
    width: 10px;
    border: 2px solid var(--text-gray);
    border-radius: 3rem;
    display: inline-block;
    transition: all .8s ease;
    transition-property: width, left;
}

.icon::before{
    content: " ";
    position: absolute;
    top: 5px;
    width: 20px;
    left: -12px;
}

.icon::after{
    content: " ";
    position: absolute;
    top: 12px;
    left: -2px;
}

.toggle-click, .toggle-click::before, .toggle-click::after{
    width: 20px;
}

.toggle-click::before{
    left: -2px;
} */


/* 
@media only screen and (max-width: 800px){
    nav .nav-items{
        flex-direction: column;
        justify-content: flex-start;
        display: block;
    }
    nav{
        flex-direction: column !important;
        display: block !important;
    }

    nav .toggle-collapse{
        display: initial;
    }
    ul{
        padding-left: 0px  !important;
    }

} */
.upload{
    max-width: 204px;
}
.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }


    *, *::before, *::after {
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
	 list-style: none;
	 list-style-type: none;
	 text-decoration: none;
	 -moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	 text-rendering: optimizeLegibility;
}
 body {
	 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	 font-size: 1rem;
	 font-weight: normal;
	 line-height: 1.5;
	 color: #252a32;
	 background: #f1f5f8;
}
 img {
	 display: block;
	 height: auto;
}

 .container {
	 max-width: 80rem;
	 width: 100%;
	 height: auto;
	 padding: 0 2rem;
	 margin: 0 auto;
}
 .brand {
	 font-family: inherit;
	 font-size: 1.75rem;
	 font-weight: 700;
	 line-height: inherit;
	 color: #148cb8;
	 text-transform: uppercase;
	 text-rendering: optimizeLegibility;
}
 .navbar {
	 max-width: 1120px;
	 width: 100%;
	 height: auto;
	 padding: 1rem 2rem;
	 color: #373F41;
	 background: #FFF5F2;
}
header{
	background: #FFF5F2;

}
 @media only screen and (min-width: 768px) {
	 .navbar {
		 flex-direction: row;
		 justify-content: space-between;
		 align-items: center;
		 margin: 0 auto;
	}
}
 .navbar .navbrand {
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 align-items: center;
}
 .navbar .navbrand .burger {
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 cursor: pointer;
	 border: none;
	 outline: none;
	 background: none;
	 transition: all 0.35s ease;
}
 .navbar .navbrand .burger-close {
	 display: none;
}
 .navbar .navbrand .burger.active .burger-open {
	 display: none;
}
 .navbar .navbrand .burger.active .burger-close {
	 display: flex;
}
 @media only screen and (min-width: 768px) {
	 .navbar .navbrand .burger {
		 display: none;
	}
}
 .navbar .menu {
	 width: 100%;
	 height: 0;
	 overflow: hidden;
	 transition: all 0.5s ease;
}
 .navbar .menu-item {
	 color: #373F41  !important;
	 margin: 0.5rem 0;
}
 .navbar .menu-link {
	 font-family: inherit;
	 font-size: 14px;
	 font-weight: 600;
	 line-height: inherit;
	 text-rendering: optimizeLegibility;
	 transition: all 0.35s ease;
	 padding: 15px;
}
.navbar .menu-link:hover  {
	color: #162C9B !important;
}

 .navbar .menu.active {
	 width: 100%;
	 height: 12rem;
	 margin: 1rem 0;
}
 @media only screen and (min-width: 768px) {
	 .navbar .menu {
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
		 align-items: center;
		 height: auto;
         padding-top: 15px;
	}
	 .navbar .menu-item {
		 padding: 0;
		 /* margin: 0 0.5rem; */
	}
}
 .navbar .social {
	 display: none;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
}
 .navbar .social-item {
	 font-size: 1.65rem;
	 line-height: inherit;
	 margin: 0 0.5rem;
	 color: #252a32;
	 transition: all 0.35s ease;
}

 @media only screen and (min-width: 768px) {
	 .navbar .social {
		 display: flex;
	}
}

.sign{
	padding: 10px 12px;
	color: #162C9B!important;
}

.signup{
    color: white;
    padding: 10px 12px ;
    background-color: #162C9B;
}
    /* .sign:hover{
        color: white !important;
        background-color: #162C9B;
    } */
.sign-mid{
    color: #162C9B;
	padding-left: 15px;
    text-decoration: none!important;
}
.first a{
    text-decoration: none;
}
.second  a {
    text-decoration: none;
}
footer ul li a{
    text-decoration: none;
}
.first{
	display: none  !important;
}
.sign-mid:hover{
		color: white !important;
		background-color: #162C9B ;
	}

@media only screen and (max-width: 768px){
	.first{
		padding: 5px;
        padding-left: 0px;
		display: block !important;
		max-width: 100px;
	}
	
	.second{
		display: none;
	}
}
 .middle:hover{
color: #162C9B!important;
 }
nav ul li a{
    color: #252a32;
}