

.my-login-page {
	background-color: #fff5f2;
	font-size: 14px;
}
.btn{
    margin-top: 35px;
    padding:1rem 2rem;
    background-color: #162c9b !important;
    color: white;
    width: 100%;
    border-radius: 0px!important;
}
.form-control{
    border-radius: 0px;
}
footer{
	display: flex;
	justify-content: space-between;
  }

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	/* width: 400px; */
    
}
.my-login-page .card-wrapper {
    /* width: 400px; */
    height: 100% !important;
}
.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-top: 78px;
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

/* .my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
} */
.text-center{
	margin-bottom: 200px;
}
input{
	max-width: 431px;
}
button{
	max-width:431px;
}
@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}
.my-login-page .card-wrapper {
	/* width: 100%; */
    margin-bottom: 200px;
    margin-top: 46px;
}
/* footer{
	margin-left: 0px!important;
	margin-right: 0px !important;
} */
.form-group{
	max-width: 431px;
	margin: auto 72px;
	/* margin-top:35px !important; */
}
button[type=submit]{
	margin-top:35px  !important;
	max-width: 431px;
	margin: auto;
}
#signup{
    color:#162c9b;
    font-weight: bold;
    margin-bottom: 200px;

}
.signin-section{
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

.card-wrapper{
	width: 743px;

}
}

@media screen and (min-width: 900px){
	.card-wrapper{
		width:auto;
		max-width: 743px !important;
	}
}

@media screen and (max-width:573px){
	
}

@media screen and (min-width: 573px){
	.form-group{
		margin: auto!important;
	}
}