html,body {
	height: 100%;
}

body.my-login-page {
	background-color: #fff5f2;
	font-size: 14px;
}
.btn{
    margin-top: 35px;
    padding:1rem 2rem;
    background-color: #162c9b !important;
    color: white;
    width: 100%;
    border-radius: 0px!important;
}
.form-control{
    border-radius: 0px;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
    height: 700px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

#signup{
    color:#162c9b;
    font-weight: bold;
    margin-bottom: 200px;

}
.financial{
  color: #162c9b !important;
  background-color: white !important;
  border: 1px solid #162c9b;
}
.financial a{
	color: #162c9b !important;
	
  }
  .advice a{
	  color: white !important;
  }
.signin-section{
    margin-bottom: 20px;
}